<ion-content>
<center>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Sign in to your Account</h1>
      <p class="welcome-back">Welcome Back! Ready for your next ride?</p>
    </div>
    <div class="login-form ion-padding">
        <div class="form-input">
          <ion-item>
            <ion-label class="label-float" position="floating">Username or Mobile Number</ion-label>
            <ion-input type="text"></ion-input>
            <ion-input type="text" placeholder="Username or Mobile Number23"></ion-input>
            <ion-input type="password" placeholder="Password" class="password"></ion-input>
          </ion-item>

        </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button class="login-button">Log In </ion-button>
      <p>Forgot password? <a href="" class="links">Click here</a></p>
      <p class="register-login">Don't have an account yet? <a href="" class="links">Register</a></p>
    </div>
  </div>
</center>
</ion-content>
